.stack>* {
    margin-block: 0;
}

.stack>*+* {
    margin-block-start: var(--space, 1.5rem);
}

.box {
    padding: var(--s0);
    border: var(--border-thin, 1px) solid;
}

.center {
    margin-inline: auto;
    max-inline-size: var(--measure, 40rem);
}

.cluster {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space, 1rem);
    justify-content: flex-start;
    align-items: center;
}

.reel {
    display: flex;
    block-size: auto;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-color: #fff #000;
}

.reel>* {
    flex: 0 0 auto;
}

.reel>img {
    block-size: 100%;
    flex-basis: auto;
    width: auto;
}

.reel>*+* {
    margin-inline-start: 1rem;
}

.reel.overflowing {
    padding-block-end: 1rem;
}

.max-inline-size\:none {
    max-inline-size: none;
}

.list-style\:none {
    list-style: none;
}

.padding\:0 {
    padding: 0;
}

.margin\:0 {
    margin: 0;
}

.text-align\:center {
    text-align: center;
}

.text-align\:end {
    text-align: end;
}

.margin-block-start\:s-2 {
    margin-block-start: var(--s-2);
}

.margin-block-end\:s0 {
    margin-block-end: var(--s0);
}

.margin-inline-end\:auto {
    margin-inline-end: auto;
}

.margin-inline-start\:s0 {
    margin-inline-start: var(--s0);
}

.margin-inline-end\:s0 {
    margin-inline-end: var(--s0);
}

.margin-inline-start\:s-2 {
    margin-inline-start: var(--s-2);
}

.margin-inline-end\:s-2 {
    margin-inline-end: var(--s-2);
}

.margin-inline-end\:s-3 {
    margin-inline-end: var(--s-3);
}

.margin-inline-end\:s-4 {
    margin-inline-end: var(--s-4);
}

.color-primary {
    color: var(--primary);
}

.color\:muted {
    color: var(--muted);
}

.margin-block\:s0 {
    margin-block: var(--s0);
}

.margin-block-start\:s0 {
    margin-block-start: var(--s0);
}

.margin-block-end\:s0 {
    margin-block-end: var(--s0);
}

.width\:100 {
    width: 100%;
}

.font-size\:s1 {
    font-size: var(--s1);
}

.font-style\:italic {
    font-style: italic;
}

.display\:block {
    display: block;
}

.display\:flex {
    display: flex;
}

.flex\:1 {
    flex: 1;
}

.flex-direction\:column {
    flex-direction: column;
}

.flex-wrap\:wrap {
    flex-wrap: wrap;
}

.align-items\:center {
    align-items: center;
}

.align-self\:flex-start {
    align-self: flex-start;
}

.align-items\:flex-start {
    align-items: flex-start;
}

.align-self\:flex-end {
    align-self: flex-end;
}

.justify-content\:flex-end {
    justify-content: flex-end;
}

.justify-content\:space-between {
    justify-content: space-between;
}

.justify-content\:center {
    justify-content: center;
}

.gap\:s0 {
    gap: var(--s0);
}