{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books4Books</title>
    <link rel="stylesheet" href="{% static 'core/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/block/block.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/utility/utility.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <script>
        document.cookie = "timezone=" + Intl.DateTimeFormat().resolvedOptions().timeZone + "; path=/";
    </script>
    {% block head %}{% endblock head %}
</head>
<body>
    <header class="site-header margin-block-end:s0">
        <nav>
            <ol class="navbar list-style:none padding:0">
                <li><a href="{% url 'index' %}">Home</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'listings' %}">Listings</a></li>
                    <li><a href="{% url 'communities' %}">Communities</a></li>
                    <li><a href="{% url 'swaps' %}" {% if open_swaps_count %}data-badge-count="{{ open_swaps_count }}"{% endif %}>Swaps</a></li>
                    <li class="right"><a href="{% url 'profile' user.id %}">Profile</a></li>
                    <li>
                        <form action="{% url 'account_logout' %}" method="post">
                            {% csrf_token %}
                            <button class="link" type="submit">Log Out</button>
                        </form>
                    </li>
                {% else %}
                    <li class="right"><a href="{% url 'account_login' %}">Log In</a></li>
                {% endif %}
            </ol>
        </nav>
    </header>

    {% if messages %}
        <section class="margin-block-start:s0 margin-block-end:s0">
            <ul class="messages center list-style:none padding:0">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}

    <main>
        {% block main %}{% endblock main %}
    </main>

</body>
</html>

