{% extends "core/base.html" %}

{% block main %}
<h1 class="center text-align:center color-primary">{{ community.name }}</h1>
<p class="center">{{ community.description }}</p>

<h2 class="center">Admins</h2>
{% for admin in admins %}
    <p class="center">{{ admin.user }}</p>
{% endfor %}

<h2 class="center">Members</h2>
{% for member in members %}
    <p class="center">{{ member.user }}</p>
{% empty %}
    <p class="center font-style:italic">No members yet.</p>
{% endfor %}

<h2 class="center">Recent Listings</h2>
    <ul class="reel padding:0" style="--space: var(--s-1);">
        {% for listing in recent_listings %}
            <li class="list-style:none">
                <article class="book-card box stack">
                    <img src="{{ listing.cover.url }}" style="max-width: 100px"/>
                    <div class="margin-block-start:s-2">
                        <h3 class="margin:0">{{ listing.title }}</h3>
                        <p class="margin:0">{{ listing.authors }}</p>
                        <small class="display:block"><i class="bi bi-tag margin-inline-end:s-3"></i>{{ listing.genres.all|join:", " }}</small>
                        <a class="button margin-block-start:s-2 width:100" href="{% url 'new_swap' %}?proposed_to={{ listing.owner.id }}&requested_book_listing_ids={{ listing.id }}">
                            <i class="bi bi-arrow-left-right margin-inline-end:s-2"></i>Swap
                        </a>
                    </div>

                </article>
            </li>
        {% empty %}
            <li class="center list-style:none color:muted font-style:italic">No new listings.</li>
        {% endfor %}
    </ul>
{% endblock main %}