{% extends "core/base.html" %}

{% block main %}
<div class="stack">
    <h1 class="center text-align:center color-primary">Find Your Next Read, Share Your Favorites</h1>
    <p class="center text-align:center">Join communities to find and list books!</p>

    <form class="center text-align:center display:flex" action="{% url 'search' %}" method="get">
        <input class="flex:1" type="text" name="query" placeholder="Search for a community near you...">
        <button>
            <i class="bi bi-search"></i>
        </button>
    </form>

    <h2 class="center text-align:center color-primary">Recently Listed Books</h2>
    <ul class="reel padding:0" style="--space: var(--s-1);">
        {% for listing in listings %}
            <li class="list-style:none">
                <article class="book-card box stack">
                    <img src="{{ listing.cover.url }}" style="max-width: 100px"/>
                    <div class="margin-block-start:s-2">
                        <h3 class="margin:0">{{ listing.title }}</h3>
                        <p class="margin:0">{{ listing.authors }}</p>
                        <small class="display:block"><i class="bi bi-tag margin-inline-end:s-3"></i>{{ listing.genres.all|join:", " }}</small>
                        <a class="button margin-block-start:s-2 width:100" href="{% url 'new_swap' %}?proposed_to={{ listing.owner.id }}&requested_book_listing_ids={{ listing.id }}">
                            <i class="bi bi-arrow-left-right margin-inline-end:s-2"></i>Swap
                        </a>
                    </div>

                </article>
            </li>
        {% empty %}
            <li class="center list-style:none color:muted font-style:italic">No new listings.</li>
        {% endfor %}
    </ul>
</div>




{% endblock main %}

