{% extends "core/base.html" %}

{% block main %}
<div class="stack center">
    <div class="listing-container">
        <img src="{{ listing.cover.url }}" alt="Cover of {{ listing.title }}" style="max-width: 30%; align-self: flex-start;" />
        <div>
            <h1 class="color-primary">{{ listing.title }}</h1>
            <h2>{{ listing.authors }}</h2>
            <small class="display:block"><i class="bi bi-tag margin-inline-end:s-3 color:muted"></i>{{ listing.genres.all|join:", " }}</small>
            <small class="display:block"><i class="bi bi-clock margin-inline-end:s-3 color:muted"></i>{{ listing.created_at|timesince }} ago</small>
            {% if listing.status == "PENDING" %}
            <small class="display:block"><i style="color: orange;" class="bi bi-exclamation-circle margin-inline-end:s-3"></i>Pending admin approval</small>
            {% endif %}
        </div>
    </div>

    <form class="stack" method="post">
        {% csrf_token %}
        {{ form }}
        <div class="display:flex justify-content:flex-end">
            <input class="button" type="submit" value="Update Communities">
        </div>
    </form>

    <div class="display:flex justify-content:flex-end gap:s0">
        <a class="button" href="{% url 'delete_listing' listing.id %}">Delete Listing</a>
    </div>
</div>
{% endblock main %}
