{% extends "core/base.html" %}

{% block main %}
<h1 class="text-align:center color-primary">{{ profile_user.username }}</h1>

<div class="center stack">
    <div>
        <p><i class="bi bi-clock margin-inline-end:s-3"></i>Joined on <strong>{{ profile_user.date_joined|date:"F j, Y" }}</strong></p>
    </div>
    {% if profile_user == request.user %}
        <div class="display:flex justify-content:center flex-wrap:wrap gap:s0">
            <a class="button" href="{% url 'account_email' %}">Manage Emails</a>
            <a class="button" href="{% url 'account_change_password' %}">Change Password</a>
            <a class="button" href="{% url 'edit_profile' profile_user.id %}">Edit Profile</a>
        </div>
    {% endif %}
</div>

{% endblock main %}