{% extends "core/base.html" %}

{% block main %}
<h1 class="center text-align:center color-primary">Swaps</h1>

<div class="stack">
    <div>
        <h2 class="center color-primary">Pending</h2>
        <ul class="center stack padding:0" style="--space: 1rem">
            {% for swap in pending_swaps %}
                <li class="box list-style:none">
                    <small class="display:block"><i class="bi bi-shop"></i>
                        <a href="{% url 'community' swap.community.id %}">{{ swap.community.name }}</a>
                    </small>
                    <a href="{% url 'swap' swap.id %}">
                        {% for listing in swap.offered_listings.all %}
                            {{ listing.title }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}

                        <i class="bi bi-arrow-left-right"></i>
                        {% for listing in swap.requested_listings.all %}
                            {{ listing.title }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </a>

                    {% with most_recent_event=swap.ordered_events|first %}
                        {% if most_recent_event.user %}
                            <small class="display:block">{{ most_recent_event.get_type_display }} by {{ most_recent_event.user.username }} {{ most_recent_event.created_at|timesince }} ago</small>
                        {% else %}
                            <small class="display:block">{{ most_recent_event.get_type_display }} {{ most_recent_event.created_at|timesince }} ago</small>
                        {% endif %}
                    {% endwith %}
                </li>
            {% empty %}
                <li class="list-style:none">No pending swaps.</li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h2 class="center color-primary">Closed</h2>
        <ul class="center stack padding:0" style="--space: 1rem">
            {% for swap in closed_swaps %}
                <li class="box list-style:none">
                    <small class="display:block">{{ swap.community.name }}</small>
                    <a href="{% url 'swap' swap.id %}">
                        {% for listing in swap.requested_listings.all %}
                            {{ listing.title }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}

                        <i class="bi bi-arrow-left-right"></i>
                        {% for listing in swap.offered_listings.all %}
                            {{ listing.title }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </a>

                    {% with most_recent_event=swap.ordered_events|first %}
                        {% if most_recent_event.user %}
                            <small class="display:block">{{ most_recent_event.get_type_display }} by {{ most_recent_event.user.username }} {{ most_recent_event.created_at|timesince }} ago</small>
                        {% else %}
                            <small class="display:block">{{ most_recent_event.get_type_display }} {{ most_recent_event.created_at|timesince }} ago</small>
                        {% endif %}
                    {% endwith %}
                </li>
            {% empty %}
                <li class="list-style:none">No closed swaps.</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock main %}
