{% extends "core/base.html" %}

{% block main %}

<div class="stack center">
    <p>Swap proposed in <a href="{% url 'community' swap.community.id %}">{{ swap.community.name }}</a></p> 
    <div style="display: flex; justify-content: space-between; align-items: start;">
        <div>
            <h2>{{ them.username }}'s books</h2>
            <ul>
                {% for listing in their_listings %}
                    <li>{{ listing.title }}</li>
                {% endfor %}
            </ul>
        </div>

        <i class="bi bi-arrow-left-right font-size:s1" style="align-self: center;"></i>

        <div>
            <h2>Your books</h2>
            <ul>
                {% for listing in your_listings %}
                    <li>{{ listing.title }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <ol class="stack list-style:none padding:0 display:flex flex-direction:column align-items:center">
        {% for entry in swap.get_timeline %}
            {% if entry.type == 'event' %}
                {% if entry.item.user %}
                    <li class="box">{{ entry.item.user }} {{ entry.item.get_type_display|lower }} this swap
                        <small class="display:block font-style:italic">{{ entry.item.created_at }}</small>
                    </li>
                {% else %}
                    <li class="box">{{ entry.item.get_type_display }} automatically
                        {% if entry.item.type == 'RESCIND' %}
                            <small class="display:block">Some books are no longer available</small>
                        {% endif %}
                        <small class="display:block font-style:italic">{{ entry.item.created_at }}</small>
                    </li>
                {% endif %}
            {% elif entry.type == 'message' %}
                <li 
                    speech-bubble 
                    {% if entry.item.sender != you %}
                        pleft
                    {% else %}
                        pright
                    {% endif %}
                    acenter
                    class="{% if entry.item.sender != you %}align-self:flex-start{% else %}align-self:flex-end{% endif %}"
                    style="max-width: clamp(0px, calc(100% - 1.5rem), calc(640px - 1.5rem - var(--bbArrowSize))); overflow-wrap: break-word;">
                    {{ entry.item.content }}
                    <small class="display:block font-style:italic">{{ entry.item.created_at }}</small>
                </li>
            {% endif %}
        {% endfor %}
    </ol>

    {% if swap.status == 'PROPOSED' %}
        <div class="display:flex justify-content:flex-end gap:s0">
            {% if swap.proposed_by == you %}
                <a class="button button--destructive" href="{% url 'cancel_swap' swap.id %}">Cancel</a>
            {% else %}
                <a class="button" href="{% url 'accept_swap' swap.id %}">Accept</a>
                <a class="button button--destructive" href="{% url 'decline_swap' swap.id %}">Decline</a>
            {% endif %}
        </div>
    {% elif swap.status == 'CANCELLED' %}

    {% elif swap.status == 'ACCEPTED' %}
        <form action="{% url 'swap_messages' swap.id %}" method="post" class="stack width:100">
            {% csrf_token %}
            <textarea name="content" type="text" class="width:100" maxlength="255" rows='5'></textarea>
            <div class="display:flex justify-content:flex-end">
                {% if swap.proposed_by == you %}
                    <a class="button margin-inline-end:auto" href="{% url 'complete_swap' swap.id %}">Complete</a>
                {% endif %}
                <input type="submit" class="button" value="Send">
            </div>
        </form>
    {% elif swap.status == 'DECLINED' %}

    {% elif swap.status == 'COMPLETED' %}

    {% endif %}
</div>

{% endblock main %}
